@model List<AddressViewModel>

@{
    ViewData["Title"] = "Addresses";
}

@if (TempData["success"] != null)
{
    <div class="container col-lg-4 offset-lg-4 col-sm-12">
        <partial name="_AlertSuccessPartial" model=@(TempData["success"]!.ToString())></partial>
    </div>
}
else if (TempData["fail"] != null)
{
    <div class="container col-lg-4 offset-lg-4 col-sm-12">
        <partial name="_AlertWarningPartial" model=@(TempData["fail"]!.ToString())></partial>
    </div>
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger col-lg-4 offset-lg-4 col-sm-12" style="" padding:20px; border-radius:10px;box-shadow:0 0 10px rgba(0, 0, 0, 0.1);"></div>

<div class="col-lg-8 offset-lg-2 col-sm-12" style="padding:20px; border-radius:10px; background-color:rgb(128, 208, 199); box-shadow:0 0 10px rgba(0, 0, 0, 0.1);">

    <h1 class="text-center text-white mb-5">Adreslerim</h1>

    <div class="table-responsive">
        <table class="container table table-hover" id="myTable">
            <thead>
                <tr class="align-middle">
                    <th class="text-center">Ad</th>
                    <th class="text-center">Adres</th>
                    <th colspan="2" class="text-center"><a asp-area="Member" asp-controller="Address" asp-action="AddAddress" class="btn btn-success rounded-5">Adres Ekle</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (AddressViewModel item in Model)
                {
                    <tr class="align-middle text-center">
                        <td>@item.Name</td>
                        <td>@(item.FullAddress ?? "Adres Yok")</td>
                        <td class="text-end">
                            <a asp-area="Member" asp-controller="Address" asp-action="UpdateAddress" asp-route-id="@item.Id" class="btn btn-warning rounded-5">Güncelle</a>
                        </td>
                        <td class="text-start">
                            <a id="deleteAddressId" data-id="@item.Id" data-name="@item.Name" data-bs-toggle="modal" data-bs-target="#modal5" asp-area="Member" asp-controller="Address" asp-action="DeleteAddress" asp-route-id="@item.Id" class="btn btn-danger rounded-5">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


@*------------MODAL------------*@
<div class="modal fade" id="modal5" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adres silinsin mi?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModal">Kapat</button>
                <button type="submit" class="btn btn-danger" id="deleteCategoryButton" data-bs-dismiss="modal">Sil</button>
            </div>
        </div>
    </div>
</div>
@*------------MODAL------------*@


@section Scripts{

    <script>

        $(document).ready(function () {

            $("#myTable").on("click", "#deleteAddressId", function () {

                let name = $(this).data("name");
                let modalBodyText = name + " adresini silmek istediğinize emin misiniz?";
                $(".modal-body").text(modalBodyText);

                let id = $(this).data("id");

                $("#deleteCategoryButton").off("click");
                //Önerimdeki $("#deleteCategoryButton").off("click.deleteCategory") kullanımı, sadece belirli bir olayın (.deleteCategory) kaldırılmasını sağlamak için daha spesifik bir şekilde olayları yönetmek içindi. Ancak, $("#deleteCategoryButton").off("click") kullanarak tüm click olaylarını kaldırmanız da aynı sonucu verecektir.

                $("#deleteCategoryButton").click(function(){

                    window.location.href = "/Member/Address/DeleteAddress/" + id;
                });
            });
        });

    </script>
}