@model List<ProductViewModel>

@{
    ViewData["Title"] = "ProductList";
}

@if (TempData["success"] != null)
{
    <div class="container col-lg-4 offset-lg-4 col-sm-12">
        <partial name="_AlertSuccessPartial" model=@(TempData["success"]!.ToString())></partial>
    </div>
}
else if (TempData["fail"] != null)
{
    <div class="container col-lg-4 offset-lg-4 col-sm-12">
        <partial name="_AlertWarningPartial" model=@(TempData["fail"]!.ToString())></partial>
    </div>
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger col-lg-4 offset-lg-4 col-sm-12" style="" padding:20px; border-radius:10px;box-shadow:0 0 10px rgba(0, 0, 0, 0.1);"></div>

<div class="col-lg-8 offset-lg-2 col-sm-12" style="padding:20px; border-radius:10px; background-color:rgb(128, 208, 199); box-shadow:0 0 10px rgba(0, 0, 0, 0.1);">

    <h1 class="text-center text-white mb-5">Ürünler</h1>

    <div class="table-responsive">
        <table class="container table table-hover" id="myTable">
            <thead>
                <tr class="align-middle">
                    <th class="text-center">Ürün Resmi</th>
                    <th class="text-center">Ad</th>
                    <th class="text-center">Açıklama</th>
                    <th class="text-center">Fiyat</th>
                    <th class="text-center">Stok</th>
                    <th colspan="2" class="text-center">
                        <a asp-area="Admin" asp-controller="Product" asp-action="AddProduct" class="btn btn-success rounded-5">Ürün Ekle</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProductViewModel item in Model)
                {
                    <tr class="align-middle text-center">
                        <td>
                            <img class="rounded-5" src="~/productPics/@item.ImagePath" alt="Resim Görüntülenemiyor" style="height:100px; width:100px;">
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Price.ToString("C2")</td>
                        <td>@item.Stock Adet</td>
                        <td>
                            <a asp-area="Admin" asp-controller="Product" asp-action="UpdateProduct" asp-route-id="@item.Id" class="btn btn-warning rounded-5">Güncelle</a>
                        </td>
                        <td class="text-start">
                            <a id="deleteProductId" data-id="@item.Id" data-name="@item.Name" data-bs-toggle="modal" data-bs-target="#modal5" class="btn btn-danger rounded-5">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item @(ViewBag.pageNumber < 2 ? "disabled" : "")">
                <a class="page-link" aria-label="Previous" asp-area="Admin" asp-controller="Product" asp-action="ProductList" asp-route-search="null" asp-route-pageNumber="@(ViewBag.pageNumber - 1)" asp-route-pageSize="null">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int page = 1; page <= @ViewBag.totalPageCount; page++)
            {
                <li class="page-item @(ViewBag.pageNumber == page ? "active" : "")"><a class="page-link" asp-area="Admin" asp-controller="Product" asp-action="ProductList" asp-route-search="null" asp-route-pageNumber="@(page)" asp-route-pageSize="null">@(page)</a></li>
            }
           
            <li class="page-item @(ViewBag.pageNumber == ViewBag.totalPageCount ? "disabled" : "")">
                <a class="page-link" aria-label="Next" asp-area="Admin" asp-controller="Product" asp-action="ProductList" asp-route-search="null" asp-route-pageNumber="@(ViewBag.pageNumber + 1)" asp-route-pageSize="null">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>


@*------------MODAL------------*@
<div class="modal fade" id="modal5" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ürün silinsin mi?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModal">Kapat</button>
                <button type="submit" class="btn btn-danger" id="deleteProductButton" data-bs-dismiss="modal">Sil</button>
            </div>
        </div>
    </div>
</div>
@*------------MODAL------------*@


@section Scripts{

    <script>

        $(document).ready(function () {

            $("#myTable").on("click", "#deleteProductId", function () {

                let name = $(this).data("name");
                let modalBodyText = name + " ürününü silmek istediğinize emin misiniz?";
                $(".modal-body").text(modalBodyText);

                let id = $(this).data("id");

                $("#deleteProductButton").off("click");
                //Önerimdeki $("#deleteCategoryButton").off("click.deleteCategory") kullanımı, sadece belirli bir olayın (.deleteCategory) kaldırılmasını sağlamak için daha spesifik bir şekilde olayları yönetmek içindi. Ancak, $("#deleteCategoryButton").off("click") kullanarak tüm click olaylarını kaldırmanız da aynı sonucu verecektir.

                $("#deleteProductButton").click(function () {

                    window.location.href = "/Admin/Product/DeleteProduct/" + id;
                });
            });
        });

    </script>
}