@model ShoppingWrapper

@{
    ViewData["Title"] = "Shopping";
    string? categoryId = ViewBag.CategoryId;
    string? search = ViewBag.Search;
    string? selectSort = ViewBag.selectSort;
    int totalPagesCount = ViewBag.totalPagesCount;
    int pageNumber = ViewBag.pageNumber;
    int totalItemsCount = ViewBag.totalItemsCount;
}


@if (TempData["success"] != null)
{
    <div class="container col-lg-6 offset-lg-3 col-sm-12">
        <partial name="_AlertSuccessPartial" model=@(TempData["success"]!.ToString())></partial>
    </div>
}
else if (TempData["fail"] != null)
{
    <div class="container col-lg-6 offset-lg-3 col-sm-12">
        <partial name="_AlertWarningPartial" model=@(TempData["fail"]!.ToString())></partial>
    </div>
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger col-lg-4 offset-lg-4 col-sm-12" style="" padding:20px; border-radius:10px;box-shadow:0 0 10px rgba(0, 0, 0.1);"></div>

<div class="col-xl-10 offset-xl-1 col-sm-12" style="padding:5px; border-radius:10px; border:5px solid rgb(128, 208, 199); background-color:white;">

    <div class="mb-3 mt-1">
        <div class="row text-center align-items-center">
            <div class="col-md-2 offset-md-1">@totalItemsCount ürün görüntüleniyor</div>

            <div class="col-md-4">
                <select class="form-select rounded-5" id="productSort">
                    @if (string.IsNullOrEmpty(selectSort))
                    {
                        <option selected>Sıralama kriteri</option>
                    }
                    else
                    {
                        <option>Sıralama kriteri</option>
                    }
                    @if (selectSort == "eyu")
                    {
                        <option value="eyu" selected>En Yeni Ürünler</option>
                    }
                    else
                    {
                        <option value="eyu">En Yeni Ürünler</option>
                    }
                    @if (selectSort == "edf")
                    {
                        <option value="edf" selected>En Düşük Fiyat</option>
                    }
                    else
                    {
                        <option value="edf">En Düşük Fiyat</option>
                    }
                    @if (selectSort == "eyf")
                    {
                        <option value="eyf" selected>En Yüksek Fiyat</option>
                    }
                    else
                    {
                        <option value="eyf">En Yüksek Fiyat</option>
                    }
                    @if (selectSort == "aaz")
                    {
                        <option value="aaz" selected>Ürün Adına Göre Sırala A > Z</option>
                    }
                    else
                    {
                        <option value="aaz">Ürün Adına Göre Sırala A > Z</option>
                    }
                    @if (selectSort == "aza")
                    {
                        <option value="aza" selected>Ürün Adına Göre Sırala Z > A</option>
                    }
                    else
                    {
                        <option value="aza">Ürün Adına Göre Sırala Z > A</option>
                    }
                </select>
            </div>

            <div class="col-md-4">
                <form method="get" asp-route-categoryId="" asp-route-search="" asp-route-selectSort="" asp-route-pageNumber="">
                    <input type="hidden" name="selectSort" value="@(selectSort ?? "")" />
                    <input type="search" class="form-control rounded-5" placeholder="Ürünlerde ara" name="search" id="search" value="@search" />
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        @foreach (ProductViewModel item in Model.Products!)
        {
            <div class="col-md-4 mb-3">
                <div class="custom-block bg-white shadow-lg">
                    <a asp-controller="Shopping" asp-action="ProductDetail" asp-route-id="@item.Id" class="text-center">

                        <img src="~/productPics/@item.Photos[0].ImagePath" alt="Resim Yüklenemedi" width="300px;" height="400px;" class="img-fluid" />

                        <div>

                            <strong>@item.Name</strong>
                            <p>@item.Description</p>
                            <h6 class="" style="color:rgb(128, 208, 199);">@item.Price.ToString("C2")</h6>

                        </div>
                    </a>
                </div>
            </div>
        }
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item @(pageNumber < 2 ? "disabled" : "")">
                <a class="page-link" aria-label="Previous" asp-controller="Shopping" asp-action="ShoppingList" asp-route-categoryId="@(categoryId ??" ")" asp-route-search="@(search ??" ")" asp-route-selectSort="@(selectSort ??" ")" asp-route-pageNumber="@(pageNumber - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int page = 1; page <= totalPagesCount; page++)
            {
                <li class="page-item @(pageNumber == page ? "active" : "")"><a class="page-link" asp-controller="Shopping" asp-action="ShoppingList" asp-route-categoryId="@(categoryId ??" ")" asp-route-search="@(search??" ")" asp-route-selectSort="@(selectSort??" ")" asp-route-pageNumber="@(page)">@(page)</a></li>
            }

            <li class="page-item @(pageNumber == totalPagesCount ? "disabled" : "")">
                <a class="page-link" aria-label="Next" asp-controller="Shopping" asp-action="ShoppingList" asp-route-categoryId="@(categoryId ??" ")" asp-route-search="@(search??" ")" asp-route-selectSort="@(selectSort??" ")" asp-route-pageNumber="@(pageNumber + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>


@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            let search = '@Html.Raw(search ?? " ")';

            $("#productSort").change(function () {

                let selectedSort = $(this).val();
                let url;

                if (selectedSort !== "Sıralama kriteri") {
                    url = "/Shopping/ShoppingList/" + '@(categoryId ?? " ")' + "/" + search + "/" + selectedSort;
                }
                else {
                    url = "/Shopping/ShoppingList/" + '@(categoryId ?? " ")' + "/" + search + "/" + " ";
                }

                window.location.href = url;
            });
        });

    </script>
}